<ul class="playlist-grid styled-grid">
  {% for playlist in playlists %}
  <li class="grid__item">
    <a class="grid__item__inner" href="/playlists/{{ playlist.id }}">
      <div class="grid__item__img">
        <img
          class="grid__playlist__img"
          src="{{ playlist.images[0].url }}"
          alt="{{ playlist.name }}"
        />
      </div>
      <h3 class="grid__item__name overflow-ellipsis">{{ playlist.name }}</h3>
      <p class="grid__item__label">Playlist</p>
    </a>
  </li>
  {% endfor %}
</ul>
