{% if header %}
<h2>{{ header }}</h2>
{% endif %}
<ul class="styled-tracklist">
  {% for track in tracklist %}
  {% with _index = loop.index %}
  {% include "partials/track.html.jinja" with context %}
  {% endwith %}
  {% endfor %}
</ul>