{% extends "base.html.jinja" %}{% block title %}{{ title }}{% endblock %}
{% block page_content %}
<main>
  <div hx-get="/htmx/profile-playlists?limit=50" hx-trigger="load">
    <div></div>
  </div>
</main>
{% endblock %}