{% extends "base.html.jinja" %}{% block title %}{{ title }}{% endblock %}
{% block page_content %}
<main>
  <div hx-get="/htmx/playlist/{{ playlist_id }}" hx-trigger="load">
    <div></div>
  </div>
</main>
{% endblock %}