{% extends "base.html.jinja" %}{% block title %}{{ title }}{% endblock %}
{% block head %}
{{ super() }}
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script>
   const download = () => {
      html2canvas(document.querySelector('#track')).then(canvas => {
         document.body.appendChild(canvas);
      });
   }
</script>
{% endblock %}
{% block content %}
<main>
    <div id="track" class="track-container">
        <div class="track__inner">
            <img src="{{ track.album.images[1].url }}" alt="{{ track.name }}" />
            {% set mins = track.duration_ms // 60000 %}{% set secs = track.duration_ms % 60000 // 1000 %}
            <div class="track__info__group">
                <h2 class="track__name">{{ track.name }}</h2>
                <small class="track__duration">{{ '%02d' % mins }}:{{ '%02d' % secs }}</small>
            </div>
            <div class="track__artists">
                {% for artist in track.artists %}
                <div class="track__artist__name">{{ artist.name }}</div>
                {% endfor %}
            </div>
            <div class="track__album__name">{{ track.album.name }}</div>
        </div>
    </div>
</main>
<button onclick="download()">
Download
</button>
{% endblock %}
